<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yys.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EEE062725E7EF5664F368EA392DFB12C985B7114</string>
				<key>dateExpires</key>
				<string>06/05/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F4994CACJJ.org.reactjs.native.example.yysApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F4994CACJJ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>F4994CACJJ.org.reactjs.native.example.yysApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>yys.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>09371c4d-14f5-4d13-abfd-2f93d3cfd233</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.reactjs.native.example.yysApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F4994CACJJ</string>
				<key>name</key>
				<string>Gaurav Jain</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
